---
import '../styles/global.css';
const year = new Date().getFullYear();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/debbie-s-dog-food-campaign-website/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Contact Debbies Dog Food - get in touch with our team!" />
    <title>Contact Us | Debbies Dog Food</title>
  </head>
  <body>TEST</body>
</html>